<div class="col-md-2">
    <a class="btn btn-block btn-light content-lf-btn"
       href="/conference/<?php echo $conference['conference_url']; ?>/paper-review/">
        Overview
    </a>
    <a class="btn btn-block btn-light content-lf-btn"
       href="/conference/<?php echo $conference['conference_url']; ?>/paper-review/editor-list/">
        Submitted Papers
    </a>
    <a class="btn btn-block btn-light content-lf-btn"
       href="/conference/<?php echo $conference['conference_url']; ?>/paper-review/reviewer-tasks/">
        Review Tasks
    </a>
    <div class="btn btn-block btn-light content-lf-btn"
       href="/conference/<?php echo $conference['conference_url']; ?>/paper-review/reviewer-tasks/">
        Paper Review
    </div>
</div>