{{@include /Admin/Header}}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">系统信息</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>System Information</strong> <br>
                    Version: myConf 2019.1<br>
                    Framework: Codeigniter <?php echo CI_VERSION; ?> <br>
                    Application Directory: <?php echo APPPATH; ?> <br>
                </li>
                <li class="list-group-item">
                    <p><strong>PHP</strong></p>
                    <p>PHP Version: <?php echo phpversion(); ?></p>
                    <p>Server Software: <?php echo $_SERVER['SERVER_SOFTWARE']; ?></p>
                </li>
                <li class="list-group-item">
                    <p><strong>MySQL</strong></p>
                    <p>
                        Version: <?php echo \myConf\Libraries\DbHelper::fetch_first_raw('select version();')['version()']; ?></p>
                    <p>Connector: <?php echo \myConf\Libraries\DbHelper::connector_info(); ?></p>
                    <p>Database Size:
                        <?php
                            \myConf\Libraries\DbHelper::query('use information_schema;');
                            $size = \myConf\Libraries\DbHelper::fetch_first_raw("select round(sum(data_length/1024/1024),2) as data from tables where table_schema='conference';");
                            echo $size['data'];
                        ?> MiB
                    </p>
                </li>
            </ul>
            <h5>System Environment</h5>
            <ul>
                <li> PHP Version: <?php echo phpversion(); ?></li>
                <li> Environment: <?php echo PHP_OS; ?></li>
                <li> Server Software: <?php echo $_SERVER['SERVER_SOFTWARE']; ?></li>
            </ul>
            <h5>MySQL</h5>
            <ul>
                <li>

                </li>
            </ul>
        </div>
    </div>
</div>
{{@include /Common/Footer}}
