{{@include /Common/Header}}
{{@include /Conference/Header}}
{{@include /Conference/Paper_submit/Left_bar}}
<div class="col-md-10 content-rf content-rf-doc">
    <?php if ($has_joint === FALSE) { ?>
    <div class="alert alert-warning">
        You have not entered in this conference.
        <br/>
        To submit your paper, you should
        <a class="alert_link"
           href="/conference/<?php echo $conference['conference_url']; ?>/member/?do=register&redirect=<?php echo $url; ?>">register
            in <?php echo $conference['conference_name']; ?>
        </a>
        .
    </div>
    <?php } else { ?>
    <div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Submitted Papers</h4>
                {{@if empty($papers)}}
                <div class="alert alert-info">
                    You have not submitted a paper yet.
                </div>
                {{@else}}
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Paper Title
                        </th>
                        <th>
                            Authors
                        </th>
                        <th>
                            Submit Time
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Operations
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {{@for $paper in $papers}}
                    <tr>
                        <td>
                            {{$paper['paper_title']}}
                        </td>
                        <td>
                            {{@for $author in $paper['authors']}}
                            {{$author['author_first_name']}} , {{$author['author_last_name']}} <br>
                            {{@end}}
                        </td>
                        <td>
                            <?php echo(date('Y-m-d', $paper['paper_submit_time'])); ?>
                        </td>
                        <td>
                            {{@switch $paper['paper_status']}}
                            {{@case 0}}
                            Submitted
                            {{@end}}
                            {{@end}}
                        </td>
                        <td>
                            {{@if $paper['paper_status'] === '0' || $paper['paper_status'] === '4'}}
                                <a href="{{$conf_url}}/paper-submit/edit/?id={{$paper['paper_id']}}" class="btn btn-primary">Edit</a>
                            {{@else}}
                                <span class="btn btn-primary disabled" >Edit</span>
                            {{@end}}
                            {{@if $paper['paper_status'] === '0'}}
                            <a href="javascript: deletePaper(<?php echo $paper['paper_id']; ?>);" class="btn btn-primary">Delete</a>
                            {{@else}}
                            <span class="btn btn-primary disabled" >Delete</span>
                            {{@end}}
                        </td>
                    </tr>
                    {{@end}}
                    </tbody>
                </table>
                {{@end}}
            </div>
        </div>
    </div>
    <?php } ?>
</div>
<script type="text/javascript">
    var deletePaper = function(paperId) {
        messageBox(
            'Do you really want to delete this paper? This action can not be cancelled after you click the "OK" button!',
            'message',
            function(){
                    $.ajax({
                        async: true,
                        type: "GET",
                        url: "{{$conf_url}}/paper-submit/delete/?id={{$paper['paper_id']}}&ajax=true",
                        contentType: false,
                        processData: false,
                        cache: false,
                        dataType: "json",
                        success: function (d) {
                            if (d.status === 'SUCCESS') {
                                messageBoxSecondary('Paper has been deleted successfully.', 'Message', null);
                                window.location.href = '{{$conf_url}}/paper-submit/'
                            }
                        },
                        error: function () {
                            console.log(111);
                            messageBoxSecondary('An internal server error occurred during deleting your paper.', 'Message');
                        }
                    });
            },
            true
        );
    }
</script>
{{@include /Conference/Footer}}
{{@include /Common/Footer}}