{{@include /Common/Header}}
{{@include /Conference/Header}}
{{@include /Conference/Paper_submit/Left_bar}}
<div class="col-md-10 content-rf content-rf-doc">
    <div class="col-md-12">
        <div class="row">
        </div>
        <div class="modal-header">
            <h4 class="modal-title">Editing paper</h4>
        </div>
        <div class="modal-body">
            <form id="paper_data" name="paper_data"
                  action="{{$conf_url}}/paper-submit/edit/?id={{$paper['paper_id']}}&do=submit&ajax=true"
                  method="post" enctype="multipart/form-data">
                <input type="hidden" name="<?php echo $csrf_name; ?>" value="<?php echo $csrf_hash; ?>" />
                <input type="hidden" name="user_id" value="<?php echo $login_user['user_id']; ?>" />
                <input type="hidden" name="authors" id="authors" value="" />
                <div class="form-group">
                    <label for="paper_title_text">Title&nbsp;&nbsp;<span class="badge badge-info">LESS THAN 200 characters</span></label>
                    <textarea class="form form-control" id="paper_title_text" name="paper_title_text"
                              rows="2">{{$paper['paper_title']}}</textarea>
                </div>
                <div class="form-group">
                    <label for="paper_abstract_text">Abstract&nbsp;&nbsp;<span class="badge badge-info">LESS THAN 200 words</span></label>
                    <textarea class="form form-control" id="paper_abstract_text" name="paper_abstract_text"
                              rows="2">{{$paper['paper_abstract']}}</textarea>
                </div>
                <div class="form-group">
                    <label>Authors&nbsp;&nbsp;</label>
                    <div id="authorSearch" class="card">
                        <div class="card-body">
                            <div class="form-inline">
                                <div class="input-group mb-3" style="width:100%;">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="addAuthorEmailToSearch"><span
                                                    class="fa fa-envelope-o"></span>&nbsp;&nbsp;Author Email</label>
                                    </div>
                                    <input class="form-control" type="text" name="addAuthorEmailToSearch"
                                           id="addAuthorEmailToSearch" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary" style="width:100px;"
                                                onclick="searchAuthor('<?php echo $conf_url; ?>', $('#addAuthorEmailToSearch').val());">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div id="searchMessage" style="display:none;">
                                <div class="mt-3 row" id="searchMessageLineSpace"></div>
                                <div id="searchMessageMain">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3"></div>
                    <div id="authorList" class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Selected Authors</label>
                                <ul class="list-group" id="authorListView">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="form-group">
                    <label for="paper_copyright_pdf">
                        Paper Content (PDF Upload)&nbsp;&nbsp;
                        <span class="badge badge-info">LESS THAN 5MB</span>
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <?php if ($paper['pdf_attachment_id'] !== 0) { ?>
                        <span>
                        <a href="/attachment/preview/pdf/?aid={{$paper['pdf_attachment_id']}}" target="_blank">
                            {{$paper['content_attach_info']['attachment_original_name']}}
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="file" class="" id="paper_pdf" name="paper_pdf">
                     </span>

                        <div class="row mt-3"></div>
                        <div class="alert alert-info">
                            Use the button above to choose a new file to upload when necessary.

                        </div>
                    <?php } else { ?>
                        <input type="file" class="" id="paper_pdf" name="paper_pdf">
                        <div class="row mt-3"></div>
                        <div class="alert alert-warning">You have not upload the paper content yet.</div>
                    <?php } ?>
                </div>
                <div class="form-group">
                    <label for="paper_copyright_pdf">
                        Paper Copyright (PDF Upload)&nbsp;&nbsp;
                        <span class="badge badge-info">LESS THAN 5MB</span>
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <?php if ($paper['copyright_attachment_id'] !== 0) { ?>
                        <span>
                        <a href="/attachment/preview/pdf/?aid={{$paper['copyright_attachment_id']}}" target="_blank">
                            {{$paper['copyright_attach_info']['attachment_original_name']}}
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="file" class="" id="paper_copyright_pdf" name="paper_copyright_pdf">
                     </span>

                        <div class="row mt-3"></div>
                        <div class="alert alert-info">
                            Use the button above to choose a new file to upload when necessary.

                        </div>
                    <?php } else { ?>
                        <input type="file" class="" id="paper_copyright_pdf" name="paper_copyright_pdf">
                        <div class="row mt-3"></div>
                        <div class="alert alert-warning">You have not upload the copyright yet.</div>
                    <?php } ?>
                </div>
                <div class="form-inline">
                    <label for="paper_type_text">Type&nbsp;&nbsp;&nbsp;
                        <select id="paper_type_text" name="paper_type_text" class="form form-control">
                            {{@if $paper['paper_type'] === 'paper'}}
                            <option value="paper" selected="selected">Paper</option>
                            <option value="abstract">Abstract</option>
                            {{@else}}
                            <option value="paper">Paper</option>
                            <option value="abstract" selected="selected">Abstract</option>
                            {{@end}}
                        </select>
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="paper_suggested_session">Suggested Session&nbsp;&nbsp;&nbsp; <span
                                class="badge badge-secondary">Not available now</span>&nbsp;&nbsp;&nbsp;
                        <input id="paper_suggested_session" name="paper_suggested_session" class="form form-control"
                               value="{{$paper['paper_suggested_session']}}"
                               placeholder="Enter your paper's suggested session." />
                    </label>
                </div>
                <div class="row mt-3"></div>
                <button id="submit_button" class="btn btn-primary" type="button" onclick="submitPaper();">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<div id="invisibleTemplate" style="display:none;">
    <li class="list-group-item list-group-item-action" style="font-size:80%;">
        <h5 style="line-height: 50px;">{0}&nbsp;&nbsp;&nbsp;<span class="badge badge-light">{1}</span>
            <span class="float-right">
                <div class="btn-group">
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-edit" id="author_edit{2}"
                            data-author-id="{3}" title="Edit author information."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-angle-up" id="author_up{4}"
                            data-author-id="{5}" title="Move up."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-angle-down"
                            id="author_down{6}" data-author-id="{7}" title="Move down."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light" id="author_delete{8}"
                            data-author-id="{9}" title="Remove this author from this paper.">&times;</button>
                </div>
            </span>
        </h5>
        <p>{10}</p>
        <p>{11}</p>
    </li>
</div>
<script type="text/javascript">
    var submitPaper = function () {
        doSubmit('submit');
    };
</script>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-editPost.js"></script>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-authorList.js"></script>
<script type="text/javascript">
    <?php foreach($paper['authors'] as $author): ?>
    addToList("{{$author['author_email']}}", "{{$author['author_first_name']}}", "{{$author['author_last_name']}}", "{{$author['author_institution']}}", "{{$author['author_department']}}", "{{$author['author_address']}}", "{{$author['author_prefix']}}", "{{$author['author_chn_full_name']}}");
    <?php endforeach; ?>
    refreshAuthorListView();
</script>
{{@include /Conference/Paper_submit/Edit_author_dialog}}
{{@include /Conference/Footer}}
{{@include /Common/Footer}}


