<!--编辑作者模态框-->
<div class="modal fade" id="modalEditAuthor">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Author</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-head">

                    </div>
                    <div class="card-body">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:38%;">
                                    <label for="editAuthorEmail">Email</label>
                                </td>
                                <td style="width:62%;">
                                    <input class="form-control" name="editAuthorEmail" id="editAuthorEmail" type="text"
                                           style="width:100%;" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:38%;">
                                    <label for="editAuthorPrefix">Prefix</label>
                                </td>
                                <td style="width:62%;">
                                    <input class="form-control" name="editAuthorPrefix" id="editAuthorPrefix"
                                           type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:38%;">
                                    <label for="editAuthorFirstName">First Name</label>
                                </td>
                                <td style="width:62%;">
                                    <input class="form-control" name="editAuthorFirstName" id="editAuthorFirstName"
                                           type="text" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:38%;">
                                    <label for="editAuthorLastName">Last Name</label>
                                </td>
                                <td style="width:62%;">
                                    <input class="form-control" name="editAuthorLastName" id="editAuthorLastName"
                                           type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:38%;">
                                    <label for="editAuthorInstitution">Institution&nbsp;&nbsp;<span
                                                class="badge badge-info">LESS THAN 160 characters</span></label>
                                </td>
                                <td style="width:62%;">
                                    <input class="form-control" name="editAuthorInstitution" id="editAuthorInstitution"
                                           type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:38%;">
                                    <label for="editAuthorDepartment">Department&nbsp;&nbsp;<span
                                                class="badge badge-info">LESS THAN 60 characters</span></label>
                                </td>
                                <td style="width:62%;">
                                    <input class="form-control" name="editAuthorDepartment" id="editAuthorDepartment"
                                           type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:38%;">
                                    <label for="editAuthorAddress">Address&nbsp;&nbsp;<span class="badge badge-info">LESS THAN 250 Characters</span></label>
                                </td>
                                <td style="width:62%;">
                                    <input class="form-control" name="editAuthorAddress" id="editAuthorAddress"
                                           type="text" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>