{{@include /Common/Header}}
{{@include /Conference/Header}}
{{@include /Conference/Paper_submit/Left_bar}}
<div class="col-md-10 content-rf content-rf-doc">
    <div class="col-md-12">
        <div class="row">
        </div>
        <div class="modal-header">
            <h4 class="modal-title">Edit Paper</h4>
        </div>
        <div class="modal-body">
            {{@include /Conference/Paper_submit/Edit_form}}
        </div>
    </div>
</div>
<div id="invisibleTemplate" style="display:none;">
    <li class="list-group-item list-group-item-action" style="font-size:80%;">
        <h5 style="line-height: 50px;">{0}&nbsp;&nbsp;&nbsp;<span class="badge badge-light">{1}</span>
            <span class="float-right">
                <div class="btn-group">
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-edit" id="author_edit{2}"
                            data-author-id="{3}" title="Edit author information."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-angle-up" id="author_up{4}"
                            data-author-id="{5}" title="Move up."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-angle-down"
                            id="author_down{6}" data-author-id="{7}" title="Move down."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light" id="author_delete{8}"
                            data-author-id="{9}" title="Remove this author from this paper.">&times;</button>
                </div>
            </span>
        </h5>
        <p>{10}</p>
        <p>{11}</p>
    </li>
</div>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-formValidation.js"></script>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-editPost.js"></script>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-authorList.js"></script>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-putPdf.js"></script>
<script type="text/javascript">
    var suggestedSessionId = "{{$paper['paper_suggested_session']}}";

    <?php if(intval($paper['pdf_attachment_id']) !== 0): ?>
    var hasPaper = true;
    <?php else: ?>
    var hasPaper = false;
    <?php endif; ?>

    <?php if(intval($paper['copyright_attachment_id']) !== 0): ?>
    var hasCopyright = true;
    <?php else: ?>
    var hasCopyright = false;
    <?php endif; ?>

    var submitPaper = function () {
        doSubmit('submit', <?php echo $paper['paper_logic_id']; ?>, <?php echo $paper['paper_version']; ?> , '{{$conf_url}}');
    };
    var savePaper = function () {
        doSubmit('save', <?php echo $paper['paper_logic_id']; ?>, <?php echo $paper['paper_version']; ?> , '{{$conf_url}}');
    };
    <?php foreach($paper['authors'] as $author): ?>
    addToList("{{$author['author_email']}}", "{{$author['author_first_name']}}", "{{$author['author_last_name']}}", "{{$author['author_institution']}}", "{{$author['author_department']}}", "{{$author['author_address']}}", "{{$author['author_prefix']}}", "{{$author['author_chn_full_name']}}");
    <?php endforeach; ?>
    refreshAuthorListView();
    var suggestedSessionOnChange = function(){
        var suggestedSessionSelect = $('#paper_suggested_session');
        suggestedSessionId = suggestedSessionSelect.val();
        if(suggestedSessionId === '-1') {
            $('#customSession').show(500);
        }else{
            $('#customSession').hide(500);
        }
    };
</script>
{{@include /Conference/Paper_submit/Edit_author_dialog}}
{{@include /Conference/Footer}}
{{@include /Common/Footer}}


