{{@include /Common/Header}}
{{@include /Conference/Header}}
{{@include /Conference/Paper_submit/Left_bar}}
<div class="col-md-10 content-rf content-rf-doc">
    <div class="col-md-12">
        <div class="row">
        </div>
        <div class="modal-header">
            <h4 class="modal-title">Submit new paper</h4>
        </div>
        <div class="modal-body">
            <form id="paper_data" name="paper_data" action="{{$conf_url}}/paper-submit/new/?do=submit&ajax=true"
                  method="post" enctype="multipart/form-data">
                <input type="hidden" name="<?php echo $csrf_name; ?>" value="<?php echo $csrf_hash; ?>"/>
                <input type="hidden" name="user_id" value="<?php echo $login_user['user_id']; ?>"/>
                <input type="hidden" name="authors" id="authors" value=""/>
                <div class="form-group">
                    <label for="paper_title_text">Title&nbsp;&nbsp;<span class="badge badge-info">LESS THAN 200 characters</span></label>
                    <textarea class="form form-control" id="paper_title_text" name="paper_title_text"
                              rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="paper_abstract_text">Abstract&nbsp;&nbsp;<span class="badge badge-info">LESS THAN 200 words</span></label>
                    <textarea class="form form-control" id="paper_abstract_text" name="paper_abstract_text"
                              rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label>Authors&nbsp;&nbsp;</label>
                    <div id="authorSearch" class="card">
                        <div class="card-body">
                            <div class="form-inline">
                                <div class="input-group mb-3" style="width:100%;">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="addAuthorEmailToSearch"><span
                                                    class="fa fa-envelope-o"></span>&nbsp;&nbsp;Author Email</label>
                                    </div>
                                    <input class="form-control" type="text" name="addAuthorEmailToSearch"
                                           id="addAuthorEmailToSearch"/>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary" style="width:100px;"
                                                onclick="searchAuthor('<?php echo $conf_url; ?>', $('#addAuthorEmailToSearch').val());">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div id="searchMessage" style="display:none;">
                                <div class="mt-3 row" id="searchMessageLineSpace"></div>
                                <div id="searchMessageMain">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3"></div>
                    <div id="authorList" class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Selected Authors</label>
                                <ul class="list-group" id="authorListView">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="form-group">
                    <label for="paper_pdf">
                        Paper Content (PDF Upload)&nbsp;&nbsp;
                        <span class="badge badge-info">LESS THAN 5MB.</span>
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="file" class="" id="paper_pdf" name="paper_pdf">
                </div>
                <div class="form-group">
                    <label for="paper_copyright_pdf">
                        Paper Copyright (PDF Upload)&nbsp;&nbsp;
                        <span class="badge badge-info">LESS THAN 5MB</span>
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="file" class="" id="paper_copyright_pdf" name="paper_copyright_pdf">
                </div>
                <div class="row mt-3"></div>
                <div class="form-group">
                    <label for="paper_type_text">Type&nbsp;&nbsp;&nbsp;
                    </label>
                    <select id="paper_type_text" name="paper_type_text" class="form form-control">
                        <option value="paper" selected="selected">Paper</option>
                        <option value="abstract">Abstract</option>
                    </select>
                </div>
                <div class="row mt-3"></div>
                <div class="form-group">
                    <label for="paper_suggested_session">Suggested Session</label>
                    <select class="form form-control" id="paper_suggested_session" name="paper_suggested_session" onchange="suggestedSessionOnChange();">
                        <option value="-2" selected="selected" disabled="disabled">Select a suggested session.</option>
                        <?php if(isset($sessions[0])): ?>
                            <optgroup label="Sessions provided by the host">
                                <?php
                                foreach($sessions[0] as $session) {
                                    echo "<option value='{$session['session_id']}'>{$session['session_text']}</option>";
                                }
                                ?>
                            </optgroup>
                        <?php endif; ?>
                        <?php if(isset($sessions[1])): ?>
                            <optgroup label="Sessions add by conference members">
                                <?php
                                foreach($sessions[1] as $session) {
                                    echo "<option value='{$session['session_id']}'>{$session['session_text']}</option>";
                                }
                                ?>
                            </optgroup>
                        <?php endif; ?>
                        <?php if(isset($sessions[2])): ?>
                            <optgroup label="Student Paper">
                                <?php
                                foreach($sessions[2] as $session) {
                                    echo "<option value='{$session['session_id']}'>{$session['session_text']}</option>";
                                }
                                ?>
                            </optgroup>
                        <?php endif; ?>
                        <optgroup label="Others">
                            <option value="-1">New session</option>
                        </optgroup>
                    </select>
                </div>
                <div class="row mt-3"></div>
                <div class="form-group" id="customSession" style="display:none;">
                    <label for="paper_suggested_session_custom">Custom Suggested Session</label>
                    <input id="paper_suggested_session_custom" name="paper_suggested_session_custom" class="form form-control"
                           value="" placeholder="Enter your paper's suggested session."/>
                </div>
                <div class="row mt-3"></div>
                <button id="submit_button" class="btn btn-primary" type="button" onclick="submitPaper();">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<div id="invisibleTemplate" style="display:none;">
    <li class="list-group-item list-group-item-action" style="font-size:80%;">
        <h5 style="line-height: 50px;">{0}&nbsp;&nbsp;&nbsp;<span class="badge badge-light">{1}</span>
            <span class="float-right">
                <div class="btn-group">
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-edit" id="author_edit{2}"
                            data-author-id="{3}" title="Edit author information."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-angle-up" id="author_up{4}"
                            data-author-id="{5}" title="Move up."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light fa fa-angle-down"
                            id="author_down{6}" data-author-id="{7}" title="Move down."></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-light" id="author_delete{8}"
                            data-author-id="{9}" title="Remove this author from this paper.">&times;</button>
                </div>
            </span>
        </h5>
        <p>{10}</p>
        <p>{11}</p>
    </li>
</div>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-authorList.js"></script>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-formValidation.js"></script>
<script src="{{$StaticDomain}}/static/js/conf-paper-submit-newPost.js"></script>
<script type="text/javascript">
    var suggestedSessionId = '-2';
    var submitPaper = function () {
        doSubmit('submit', '{{$conf_url}}');
    };
    refreshAuthorListView();

    var suggestedSessionOnChange = function(){
        var suggestedSessionSelect = $('#paper_suggested_session');
        suggestedSessionId = suggestedSessionSelect.val();
        if(suggestedSessionId === '-1') {
            $('#customSession').show(500);
        }else{
            $('#customSession').hide(500);
        }
    };
</script>
{{@include /Conference/Paper_submit/Edit_author_dialog}}
{{@include /Conference/Footer}}
{{@include /Common/Footer}}


